.feed{
    flex:8;
    margin-top: 3.8vw;
    background: #faf7f4;
}

.feedWrapper{
    padding-left: 2.5% ;
    padding-right: 2.5% ;
    padding-top:0.05px;
    padding-bottom: 2.5%;    
}

.profileCertification {width: 90vw;height: fit-content;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  overflow: auto;
  background: white;
  line-height: 6rem;
  display:inline-table;
  margin-bottom: 2vw;
  padding-bottom: 5%;}

.profileNote {width: 90vw;height: fit-content;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  overflow: auto;
  background: white;
  display:inline-table;
  line-height: 6rem;
  margin-bottom: 2vw;
  padding-bottom: 5%;}


.profileStatistiques{width: 90vw;height: fit-content;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  background: white;
  margin-bottom: 2vw;
  overflow: auto;
  padding-bottom: 5%;}

.profileActivity{width: 90vw;height: 90vw;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  background: white;
  margin-bottom: 2vw;
  overflow: hidden;
  height: 45vw; 
   }
.postsActivity{
  width: 100%;
  height: 70%;
  padding-right: 20%;
  overflow-x: auto;
  display: flex;
}
.parcourstxt{white-space: pre-wrap;}
.parcoursdiv{
  margin-bottom: 1.5vw;
  margin-left: 12vw;
  margin-right: 8vw;
  text-align: justify;
  font-weight: 300;
  font-size: 3vw;
  line-height: 3.5vw;
  color: rgba(62, 62, 62, 0.9);
  
}
.noPost{
  
  font-family: Jordana Sans,Helvetica,sans-serif;
  font-size: 5vw;
  color: rgba(128, 128, 128, 0.233);
  margin-left: 15%;
  margin-top: 5%;
  text-align: center;
  
  line-height: 6rem; 
}
.noStat{
  
  font-family: Jordana Sans,Helvetica,sans-serif;
  font-size: 5vw;
  color: rgba(128, 128, 128, 0.233);
  margin-left: 9%;
  margin-right: 10%;
  margin-top: 5%;
  text-align: center;
  line-height: 6rem; 
}

.profileLifePath{width: 90vw;height: fit-content;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  overflow: auto;
  background: white;
  margin-bottom: 2vw;
  padding-bottom: 5%;
  line-height: 6rem; }

.css-nypl32, [data-css-nypl32] {
  font-family: Jordana Sans,Helvetica,sans-serif;
  margin-top:2.5%;
  margin-bottom: 1vw;
  margin-left: 7.5%;
  font-weight: 600;
  font-size: 5vw;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.90);}

.css-nypl324, [data-css-nypl32] {
  font-family: Jordana Sans,Helvetica,sans-serif;
  margin-top:2.5%;
  margin-bottom: 1vw;
  margin-left: 7.5%;
  font-weight: 600;
  font-size: 5vw;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.90);}

.css-nypl3249, [data-css-nypl32] {
  font-family: Jordana Sans,Helvetica,sans-serif;
  margin-top:2.5%;
  margin-bottom: -2.5%;
  margin-left: 7.5%;
  font-weight: 600;
  font-size: 5vw;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.90);}

.feedStatdiv{
  font-family: Jordana Sans,Helvetica,sans-serif;
  margin: 0% 6% 0% 6%;
}

  @media only screen and (min-width: 1024px) {
    .profileCertification  {
      width: 43.1vw;
      margin-inline-end: 1.5vw;
      overflow: auto;
      height:31vw}
    .profileNote{
      width: 43.1vw;
      overflow: auto;
      margin-inline-start: 1.5vw;
      height: 31vw;
    }
    .profileStatistiques .profileLifePath .profileActivity{
      width: 80vw;
      margin-bottom: 2vw;
    }
    .profileActivity{
      height: 25vw;
    }
    .postsActivity{
      height: 80%;
    }

    .statTitle{
     margin-top: 250%;
    }
    .css-nypl32, [data-css-nypl32]{
      font-size: 2vw;
      margin-left: 5%;
      margin-top: 5%;
    }
    .css-nypl324{
      font-size: 2vw;
      margin-left: 3%;
      margin-top: 3%;
      margin-bottom: 1.5%;
    }
    .css-nypl3249{
      font-size: 2vw;
      margin-left: 3%;
      margin-top: 3%;
    }
    .feed{
    margin-top: 9vw;
    }

    .parcoursdiv{
      margin-left: 8%;
      font-weight: 400;
      margin-top: 1.5vw;
      margin-bottom: 1.5vw;
      font-size: 2.2vw;
      line-height: 2.7vw;
      color: rgba(62, 62, 62, 0.9);
    }
  
  }