.profile{
    display: flex; 
    z-index: -1;

    
}
.topbar{
    z-index: +1;
    height: 30vw;
}

.profileRight{
    flex: 25;
}


.profileCover{
    height: 300px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;


}
.profileCover::before{
    content: "";
    width: 100vw;
    height: 33vw;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), black);
    opacity: 0.6;
    position: absolute;}

.profileCoverImg{
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.profileUserImg{
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 1;
    top: 18vw;
    margin-left: 2vw;
    display: block;
    object-fit: cover;
    border: 3px solid white;
    margin-bottom: 0px;

}


.profileInfo{
    display: flex;
    align-items:baseline;
    flex-direction: column;
    justify-content: left;
    font-size: 1.5vw;
    margin-left: 19vw;  
    margin-top: -5vw;
}

.profileInfoName{
    padding-top: 6%;
    margin-left: 15%;
    font-size: 4vw; 
    font-weight: 600;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.90);
}

.profileInfoDesc{
    margin-top: 0px;
    margin-left: 15%;
    font-weight: 300;
    padding-bottom: -5%;
    font-size: 250%;
    
}
@media only screen and (min-width: 992px) {
    .profileInfoName{
        font-size: 3vw;
        padding-top: 5%;
    }
    .profileRight{
        flex: 25;
    }
    
    
    .profileCover{
        height: 300px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    
    
    }
    .profileCover::before{
        content: "";
        width: 100vw;
        height: 33vw;
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0), black);
        opacity: 0.6;
        position: absolute;}
    
    .profileCoverImg{
        width: 100%;
        object-fit: cover;
    }
    
    .profileUserImg{
        width: 24vw;
        height: 24vw;
        border-radius: 50%;
        position: absolute;
        left: 0;
        right: 1;
        top: 18vw;
        margin-left: 2vw;
    
        object-fit: cover;
        border: 3px solid white;
        margin-bottom: 0px;
    
    }
    
    
    .profileInfo{
        display: flex;
        align-items:baseline;
        flex-direction: column;
        justify-content: left;
        font-size: 1.25vw;
        margin-left: 19vw;  
    }
    
    .profileInfoName{
        margin-top: 1vw;
        font-size: 3vw; 
        font-weight: 600;
        line-height: 40px;
    }
    
    .profileInfoDesc{
        margin-top: 0px;
        font-weight: 300;
        margin-bottom: -5%;}}