.searchContent{
    background-color: #faf7f4;
    padding-bottom: 10%;
}
.searchbar{
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
}
@media(min-width: 500px) {
    .searchbar{
        padding-left: 30vw;
        padding-right: 30vw;
        padding-top: 1vw;
    }
}