.topbar {
  width: 100%;
  z-index: 1;
}

.topbar__logo {
  height: auto;
  margin-bottom: 45px;
  max-width: 14.375rem;
  width: 15vw
}

@media(min-width: 992px) {
  .topbar__logo {
      max-width:11.25rem;
      margin-top: 0.5vw;
      margin-left: 1vw;
  }
}

.topbar__nav {
  background-color: #fff;
  display: block!important;
  max-height: 0;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 100px;
  transform: translateY(-100px);
  transition: opacity .2s linear,transform .2s cubic-bezier(.33,.45,.24,1.01);
  visibility: hidden;
  width: 100%
}

@media(min-width: 992px) {
  .topbar__nav {
      background-color:transparent;
      max-height: none;
      max-width: none;
      opacity: 1;
      overflow: visible;
      padding: 0;
      visibility: visible;
      width: auto
  }
}

.topbar__nav-toggle {
  height: 52px;
  padding: 12px;
  position: absolute;
  right: 0;
  top: 20px;
  width: 52px
}

.mobile-menu-active .topbar__nav-toggle {
  position: fixed;
  z-index: 110
}

.mobile-menu-active .topbar__nav {
  height: 100%;
  max-height: none;
  max-width: none;
  opacity: 1;
  padding: 20px 12px;
  position: fixed;
  visibility: visible;
  z-index: 100
}

@media(min-width: 992px) {
  .topbar__nav-list {
      align-items:center;
      display: flex
  }
}

.topbar__nav-item {
  padding: 20px 12px 12px
}

@media(max-width: 991.98px) {
  .topbar__nav-item {
      border-top:1px solid #e5e5e5;
      margin: 0 -12px;
      padding: 0
  }

  .topbar__nav-item a,.topbar__nav-item button {
      background: 0 0;
      border: 0;
      border-radius: 0;
      color: #666;
      display: block;
      font-size: 1rem;
      font-weight: 400;
      padding: 20px;
      text-align: left;
      text-decoration: none;
      width: 100%
  }
}

@media(min-width: 992px) {
  .topbar__nav-item--lang {
      order:-1
  }
}

.topbarImg {
  width: 50px;
  height: 10%;
  border-radius: 35%;
  object-fit: cover;
  cursor: pointer;
}

.topbarImg:hover {
  transform: scale(1.1);
  transition-duration: 0.9s;
}

.topbarImg:hover .profileSubmenu{
    display: block;
}

